.userInfo {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media screen and (max-width: 500px) {
    .user {
      font-size: 12px;
      img{
        width: 40px;
        height: 40px;
      }
    }
    .icons {
      gap: 10px;
      & img {
        width: 16px;
        height: 16px;
        cursor: pointer;
    
       
      }
    }
    .tooltip_text{
      font-size: 12px;
      width: 40vw;
      word-wrap: anywhere;
    }
    button{
      padding: 8px 10px;
      font-size: 12px;
  
    }
  }

}
.user {
  display: flex;
  align-items: center;
  gap: 20px;

  & img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
}
.icons {
  display: flex;
  gap: 20px;
  & img {
    width: 20px;
    height: 20px;
    cursor: pointer;

   
  }
}

.tooltip {
  position: relative;

  &_text {
    background-color: #333333; 
    color: #FFFFFF; 
    font-size: 16px; 
    line-height: 20px; 
    font-weight: 400; 
    text-transform: none; 
    padding: 20px 18px 18px 22px; 
    border-radius: 10px; 

    width: 256px;
    position: absolute; 
    z-index: 1; 
    transform: translateX(-50%); 
    display: none; 
  }
  .tooltip_icon:hover + .tooltip_text {
    display: block;
  }
}

button {
  background-color: #29324e;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;

  &:hover {
    background-color: rgb(8, 41, 148);
  }
}
