
.addUser {
    width: max-content;
    height: max-content;
  padding: 30px;
  background-color:  #cfcecee1;
  border-radius: 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  form{
    display: flex;
    gap: 20px;
    input{
        padding: 10px;
        border-radius: 10px;
        bottom: none;
        outline: none;
        background-color:  #f7f0f0;
    }
    button{
        background-color: rgba(49, 49, 49, 0.6117647059);;
        color: white;
        padding: 10px 20px ;
        border: none;
        cursor: pointer;
        border-radius: 5px;
    }
  }
  .user {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .detail {
        display: flex;
        align-items: center;
        gap: 20px;
      img{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
      }
    }
    button{
        background-color: rgba(49, 49, 49, 0.6117647059);;
        color: white;
        padding: 10px 20px ;
        border: none;
        cursor: pointer;
        border-radius: 5px;
    }
  }
}

