.detail {
  flex: 1;
  min-width: 260px;
  display: flex;
  flex-direction: column;
  .icon {
    width: 30px;
    height: 30px;
    background-color: #fff;
    padding: 8px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.664);

    cursor: pointer;
  }
}
.user {
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid #ffffff5b;
  img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
}
.info {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  overflow: auto;
}

.photos {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &_detail {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 20px;
      width: 100%;
      img {
        width: 40px;
        height: 40px;
        border-radius: 5px;
        object-fit: cover;
      }
      span {
        flex: 1;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
        font-size: 14px;
        font-weight: 300;
      }
    }
  }
}
.bottom {
  padding: 20px;
  gap: 30px;
  justify-content: end;
  display: flex;
  flex-direction: column;
  button {
    background-color: rgba(167, 34, 34, 0.719);
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    &.logout {
      padding: 10px;
      background-color: #4763c0;
      &:hover {
        background-color: rgb(5, 49, 192);
      }
    }
    &:hover {
      background-color: rgb(192, 5, 5);
    }
  }
}
